
@font-face {
    font-family: 'Cybercrime';
    src: url(fonts/Cybercrime2004Regular-jnz0.ttf);
  }
@font-face {
    font-family: 'Barbie';
    src: url(fonts/barbie.ttf);
}
@font-face {
    font-family: 'Ageta';
    src: url(fonts/AgetaChubbyDemo-O7L6.ttf);
}


body{
    background-image: url(images/hot-balloon.png);
    height: 95vh;
    background-size: cover;
    padding: 20px;
    cursor:url(Cute\ Pink\ Normal\ Select.cur), auto;
}

ul{
    list-style-type: none;
}

.logo img{
    width: 200px;
    height: auto;
}

.container{
    margin-top: 15px;
}

.horizontal-scroll {
    display: flex;
    gap: 5px;
    height: 190px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    overflow-y: hidden;
    width: 55vw;
    animation-duration: 2s;
    animation-name: slidein;
}

.horizontal-scroll::-webkit-scrollbar {
    background-color: transparent;
    height: 7px;
  }

  .horizontal-scroll:hover {
    &::-webkit-scrollbar-thumb {
      background-color: palevioletred ;
      border-radius: 10px;
      height: 5px;
    }
  }
    
.horizontal-scroll__item {
      align-items: center;
      /* background-color: red; */
      color: #FF66AF;
      /* border: 1px solid black; */
      display: flex;
      flex: 0 0 180px;
      font-size: 30px;
      justify-content: center;
      scroll-snap-align: center;
    }

.end-cart{
    width: 100px;
}

img{
    transition: transform .2s;
}

img:hover{
    transform: scale(1.1); 
}

#top{
    animation: shake 3.5s ease-in-out;
}

#bottom{
    animation: shake 4.5s ease-in-out;
}

#shoes{
    animation: shake 5s ease-in-out;
}

@keyframes shake {
    0%, 100% {transform: translateX(0);}
    30%, 50%, 70% {transform: translateX(-5px);}
    20%, 40%, 80% {transform: translateX(30px);}
}

@keyframes slidein {
    from {
        margin-left: 200%;
        width: 300%;
    }
    to {
        margin-left: 0%;
        /* width: 100%; */
    }
    }

#bottom .horizontal-scroll{
    height: 230px;
}

#shoes .horizontal-scroll{
    height: 130px;
}

.btn{
    align-items: center;
    display: flex;
    justify-content: center;

}

button{
    background-color: #FF66AF;
    font-family: 'Barbie';
    text-align: center;
    color:#ffffff;
    font-size: 22px;
    padding: 15px;
    border:#FF66AF;
    border-radius: 10px;
}

button:hover{
    cursor: url(Hover_linkselect.cur), auto;
    color:aqua;
}

a:hover{
    cursor: url(Hover_linkselect.cur), auto;
}

.reset{
    position: absolute;
    right: 35vw;
    top: 670px;
}

.picker{
    position: absolute;
    right: 10vw;
    top: 70px;
}

/* .picker img{
    max-height:100%;
} */

.randomizer{
    display: none;
}

.copy {
    width: 360px;
    font-size: 20px;
    font-family: 'Barbie';
    color: #FF66AF;
    padding: 5px;
    border-radius: 10px;
    text-align: right;
    text-shadow:
    /* White glow */
    0 0 7px #ffffff,
    0 0 10px #ffffff,
    0 0 21px #ffffff,
    /* Green glow */
    0 0 42px rgba(187, 0, 255, 0.414),
    0 0 82px rgba(255, 0, 234, 0.414),
    0 0 92px #6AFFE4,
    0 0 102px #6AFFE4,
    0 0 151px rgba(255, 0, 132, 0.414);
}

.booth{
    position:absolute;
    right:0;
}

.top {
    width: 165px;
    height: 195px;
    padding: 10px;
    border: 1px solid #FF66AF;
    background-color: #ffffff;
    box-shadow:
    0 0 10px #ffffff,
    0 0 21px #9ecaed;
    display:flex;
    justify-content: center;
}

.bottom {
    width: 165px;
    height: 200px;
    padding: 10px;
    border: 1px solid #FF66AF;
    background-color: #ffffff;
    box-shadow:
    0 0 10px #ffffff,
    0 0 21px #9ecaed;
    display:flex;
    justify-content: center;
    }

.shoes{
    width: 165px;
    height: 105px;
    padding: 10px;
    border: 1px solid #FF66AF;
    background-color: #ffffff;
    box-shadow:
    0 0 10px #ffffff,
    0 0 21px #9ecaed;
    display:flex;
    justify-content: center;
}

@media (max-width: 1000px) {
    body{
        /* background-image: url(images/dall-e-1.png); */
        height: 100vh;
        width: 100vw;
        background-size:cover;
        background-position: center bottom;
        padding: 0px;
    }

    .logo{
        margin-left: 10px;
    }

    .logo img{
        width: 170px;
        height: auto;
    }
    
    .container{
        margin-top: 15px;
        margin-left: -8px;
    }

    .horizontal-scroll {
        display: flex;
        gap: 5px;
        height: 190px;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        scrollbar-width: none;
        visibility: visible;
        overflow-y: hidden;
        animation-duration: 2s;
        animation-name: slidein;
        width: 100vw;
    }

    #top{
        /* animation: none; */
        animation-duration: 2.3s;
        animation-name: slidein;
    }
    
    #bottom{
        /* animation: shake 3.3s ease-in-out; */
        /* animation: none; */
        animation-duration: 2.6s;
        animation-name: slidein;
    }
    
    #shoes{
        /* animation: none; */
        animation-duration: 2.9s;
        animation-name: slidein;
    }

        
    .horizontal-scroll::-webkit-scrollbar {
        display: none;
    }

    .mobile {
        margin-left: -22vw;
    }

    .first{
        display: none;
    }
        
    .horizontal-scroll__item {
        align-items: center;
        /* background-color: red; */
        color: #FF66AF;
        /* border: 1px solid black; */
        display: flex;
        flex: 0 0 180px;
        font-size: 20px;
        justify-content: center;
        scroll-snap-align: center;
        }


    .btn{
        align-items: center;
        display: flex;
        justify-content: center;

    }

    .reset{
        display: none;
    }

    .randomizer{
        display: block;
        position: absolute;
        top: 40px;
        right: 15px;
    }

    button{
        background-color: #FF66AF;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-align: center;
        color:#ffffff;
        font-size: 22px;
        padding: 10px;
        border:#FF66AF;
        border-radius: 50%;
    }

    .picker{
        display: none;
    }
}
